astroid==3.3.8
black==23.12.1
build==1.2.2.post1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
databind==4.5.2
databind.core==4.5.2
databind.json==4.5.2
Deprecated==1.2.18
dill==0.3.9
docspec==2.2.1
docspec-python==2.2.1
docstring_parser==0.11
exceptiongroup==1.2.2
fusepy==3.0.1
grpcio==1.70.0
grpcio-tools==1.70.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.0.0
isort==6.0.1
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
protobuf==5.29.3
pydoc-markdown==4.8.2
pylint==3.3.4
pyproject_hooks==1.2.0
pytest==8.3.5
PyYAML==6.0.2
requests==2.32.3
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
typeapi==2.2.4
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==6.0.0
wrapt==1.17.2
yapf==0.43.0
zipp==3.21.0
